.navigation
  background: #242525
  color: white  
  position: fixed
  z-index: 1000
  width: 100%

  h1
    width: fit-content
    padding: 1rem  
    font-weight:300

.placeholder
  height: 4rem
  background: 171e31



.formContainer
  margin: auto
  width: fit-content
  padding: 2rem
  display: flex
  align-items: flex-end