.linkRowContainer
  width: fit-content
  margin: 0.5rem auto
  padding: 1rem
  background: #242525
  color: #eeeeee
  font-weight: 200
  border-radius: 4px
  display: flex


  .linkRow
    margin: 0 1rem
